@charset "UTF-8";

#container {
    display: grid;
    grid-template-columns: 240px calc(100% - 240px);
    grid-template-rows: 100%;
    grid-template-areas: "aside main";
}

main {
    grid-area: main;
    height: 100%;
    margin: 0px 20px;
}
#categorias {
    height: 56px;
    position: sticky;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: green;
}
.botaocat {
    text-decoration: none;
    color: white;
    padding: 9px 10px;
    background-color: #282828;
    font-size: 14px;
    border-radius: 8px;
    white-space: nowrap;
    margin: 12px 12px 12px 0px;
    user-select: none;
}
.botaocat:hover {
    background-color: #3F3F3F;
}
#caixaesq {
    position: absolute;
}
#caixadir {
    position: absolute;
    right: 0px;
    width: 75px;
    height: 100%;
}
