@charset "UTF-8";

#container {
    display: grid;
    grid-template-columns: 240px calc(100% - 240px);
    grid-template-rows: 100%;
    grid-template-areas: "aside main";
}

main {
    grid-area: main;
    background-color: green;
}
